[submodule ".config/cconf/zsh/plugins/zsh-autosuggestions"]
	path = .config/cconf/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/cconf/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/cconf/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/cconf/zsh/zsh-async"]
	path = .config/cconf/zsh/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "dracula"]
	path = .config/nvim/pack/plugged/start/dracula
	url = https://github.com/dracula/vim
