[submodule "/home/TMT/carlolo/oh-my-zsh"]
	path = /home/TMT/carlolo/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "/home/TMT/carlolo/.oh-my-zsh"]
	path = /home/TMT/carlolo/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/cconf/zsh/plugins/zsh-autosuggestions"]
	path = .config/cconf/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
