#xargs -a <(awk '/^\s*[^#]/' /path/to/this/file) -r -- sudo apt-get install

apt-file
build-essential
byobu
clang
clang-format
cmake
cppcheck
cscope
ctags
curl
exuberant-ctags
pkg-config
python-pip
python3-pip
ranger
rar
silversearcher-ag
tig
tree
unrar
vim-gtk
xclip
zathura
