snippet suml "Startuml"
@startuml
$1
@enduml
endsnippet

snippet mcpp "markdown sh code paragraph"
~~~cpp
$1
~~~
endsnippet

snippet msh "markdown sh code paragraph"
~~~sh
$1
~~~
endsnippet

snippet ddd "Today journal template" b
# `!p import datetime
tomorrow = datetime.date.today()
snip.rv = tomorrow.strftime("%a %d.%m.%y")`

# What I learned/read?

# Most important things to do?
- $1

# Wrap up

endsnippet

snippet hcm "HTML comment"
<!--
-->
endsnippet
	
