[Unit]
Description=Local browser start page

[Service]
ExecStart=/usr/bin/python3 %h/.config/cconf/environments/browser-start-page/start-page-server.py --port 8420 --directory %h/.local/share/browser-start-page
Restart=on-failure

[Install]
WantedBy=default.target
